.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.container-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-lista li {
  width: auto;
  display: block;
  margin: 0;
  padding: 0;
}
